* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%
  font-family: Arial, sans-serif;
}


#left-menu,
#main-content{
  height: 100%;
}

.hamburger {
  margin-bottom: 2px;
  border-bottom: 2px solid #fefefe;
}

/* Left Menu */

#left-menu #filter {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 10px;
}

#left-menu{
  transform: translate(0);
  width: 20%;
  text-align: center;
  background: url('../images/music.jpg') center/cover no-repeat;
  position: fixed;
  color: #fefefe;
}

#left-menu .hamburger-menu {
  float: right;
  width: 10%;
  height: auto;
  cursor: pointer;
}

#left-menu .container{
  clear:both;
  margin-top: 50px;
}

#left-menu .container img{
  display: block;
  margin: 10px auto;
  border-radius: 100%;
  width: 140px;
}

#left-menu .container h1{
  font-size: 2.5em;
  text-align: center;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 15px;
}

#left-menu .container p, #left-menu .container a{
  font-size: 1.4em;
}

#left-menu #nav-links{
  margin-top: 4em;
}

#left-menu #nav-links li {
  list-style: none;
  margin-bottom: 8px;
  height: 30px;
}

#left-menu #nav-links a{
  display: block;
  width: 80%;
  height: inherit;
  margin: 0 auto;
  border: 1px solid #fefefe;
  text-decoration: none;
  color: #fefefe;
}

#left-menu #nav-links a:hover{
  color: #7a7a7a;
  background: #fefefe;
}
/* Main content */
#main-content {
  width: 80%;
  padding: 10px 10px;
}

#main-content .hamburger-menu{
  width: 2.4%;
}

#main-content .hamburger{
  border-bottom: 2px solid #000;
}
