* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%
  font-family: Arial, sans-serif;
}

#filter {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 10px;
}

h1{
  font-size: 2.5em;
  text-align: center;
  font-weight: lighter;
  color: #fff;
}
#left-menu,
#main-content{
  height: 100%;
}

#left-menu{
  transform: translate(0);
  width: 20%;
  text-align: center;
  background: url('../images/music.jpg') center/cover no-repeat;
  position: fixed;
  color: #fefefe;
}


#left-menu img{
  display: block;
  margin: 30px auto;
  border-radius: 100%;
  width: 140px;
}

#main-content {
  width: 80%;
}

.hamburger-menu {
  width: 10%;
  height: auto;
  cursor: pointer;
}

.hamburger {
  margin-bottom: 2px;
  border-bottom: 2px solid #000;
}

#main-content .hamburger-menu{
  margin: 10px;
}
